.enc-prices {
    min-width: 420px;
    max-width: 430px;
    /* margin-top: 2rem; */
}
.billing-toggle {
    background-color: rgb(197, 197, 197);
    padding: .2rem;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
}



.billing-toggle button {
    width: 50%;
    display: inline-block;
    font-size: 18px;
    cursor: pointer;
    transition: all 100ms ease;
    padding: .6rem 2.5rem;
    font-weight: 600;
}

.billing-toggle .not-active {
    border: none;
    background-color: transparent;
}

.billing-toggle button:hover {
    color: rgb(134, 198, 0);
}
.billing-toggle .active {
    border: none;
    background-color: white;
    color: rgb(134, 198, 0);
    border-radius: 30px;
    transition: all 200ms ease-in-out;
}
.enc-prices .info {
    background-color: #fff;
    padding: 1.5rem 2rem;
    margin-top: 1.5rem;
    border-radius: 20px;
    text-align: center;
}

.enc-prices .info .billing, .duration {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

.info h3, .duration {
    color: rgb(94, 94, 94);
}

.info h3 {
    margin-bottom: 1rem;
}

.enc-prices .info .price {
    font-size: 2.5rem;
    font-weight: 650;
    margin: 1rem 0;
    display: inline-block;
    line-height: 10px;
}

.info .price .usd {
    font-size: 1.5rem;
}

.old-price {
    position: relative;
    color: rgb(194, 194, 194);
    font-weight: 400;
}

.new-price {
    font-weight: 700;
}

.info .price .line {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 1px;
    background-color: rgba(128, 128, 128, 0.859);
}

.price .slash {
    font-weight: 300;
    margin: 0 .8rem;
    color: rgb(194, 194, 194);
    
}

.info .button-2 {
    width: 100%;
    color: rgb(94, 94, 94);
}

.button-2 p {
    font-size: 15px;
    text-transform: none;
    margin-top: 1rem;
}

.button-2 button {
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
    background-color: rgb(134, 198, 0);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    margin-top: 2rem;
}

.info ul {
    text-align: start;
    list-style: none;
    margin-top: 2rem;
    font-weight: 500;
    color: rgb(39, 39, 46);
    margin-bottom: 2rem;
    font-size: 18px;
}

.info ul li {
    margin-bottom: .1rem ;
    padding: .5rem 0;
}

.info ul li:not(:last-child) {
    border-bottom: .5px solid rgba(128, 128, 128, 0.20);
}

